.main-controls__button {
  display: block;
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.main-controls__button--rock {
  background: url(/src/resources/noun-rock.svg);
}

.main-controls__button--paper {
  background: url(/src/resources/noun-paper.svg);
}

.main-controls__button--scissors {
  background: url(/src/resources/noun-scissors.svg);
}
