html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid black;
  margin-bottom: 0.8rem;
  padding-top: 1.2rem;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.header__title {
  margin: 0;
  font-size: 1.6rem;
}

.main {
  text-align: center;
  margin: 2rem auto 0 auto;
}

.main-controls {
  display: flex;
  flex-direction: column;
}

.main-controls-container__label {
  font-size: 1.3rem;
  display: inline-block;
  max-width: 60%;
  text-align: justify;
}

.main-controls__button {
  display: block;
  align-self: center;
  width: 4rem;
  height: 4rem;
  padding: 0;
  margin-top: 1.18rem;
  border: 3px groove #eee;
}

.main-controls__button:hover {
  border-color: #b1def9;
}

.main-controls__button:active {
  border-color: #00f;
}

.main-controls__button--rock {
  background: url(../resources/noun-rock.svg) no-repeat center;
}

.main-controls__button--paper {
  background: url(../resources/noun-paper.svg) no-repeat;
  background-position: 8px 4px;
}

.main-controls__button--scissors {
  background: url(../resources/noun-scissors.svg) no-repeat center;
  background-position: 9px 5px;
}

.footer {
  text-align: center;
  margin-top: 4rem;
}
